.fl{float:left}.fr{float:right}.tour_right .cat .fenqi,.NJBankLogo,.GFBankLogo,.new_ico{background:url(https://ssl.tuniucdn.com/img/201509281959/jinrong/fenqi_ico.gif) no-repeat}.tour_right .cat
.fenqi{width:72px;background-position:0 0}.tour_right .cat
.niuduidui{width:60px;background:url(http://img.tuniucdn.com/img/20150716/common/icon/niuduidui.png) 0 0 no-repeat}.tour_right .cat
.niuxianhua{width:50px;background:url(http://img.tuniucdn.com/img/20150716/common/icon/niuxianhua.png) 0 0 no-repeat}.tour_right .tour_intro
.fenqiAbout{cursor:pointer;display:inline-block;text-decoration:underline}.tour_right
.tour_intro{background:#FC893D;color:#FFF;font-family:"Microsoft Yahei";height:auto;left:-20px;line-height:30px;margin-bottom:7px;padding-left:20px;padding-top:10px;position:relative;width:458px}.tour_intro
.arrow2{background:#fd893e url(https://ssl.tuniucdn.com/img/20150115/jinrong/arrow2.png) no-repeat bottom;height:110px;position:absolute;right:-4px;top:0;width:4px}.NJBank-pop,.GFBank-pop{text-align:left}.NJBankLogo{background-position:0 -25px;text-indent:2em;height:17px;font-weight:bold;margin-bottom:5px;width:85px}.GFBankLogo{background-position:0 -43px;text-indent:2em;height:17px;font-weight:bold;margin-bottom:5px;width:85px}.totl_money{margin-bottom:auto}.fenqi_tips{text-indent:38px;position:relative}.fenqi_tips_hover{background-color:#FFFCE5;border:1px
solid #FFDD67;color:#404040;padding:10px;position:absolute;width:265px;z-index:5;bottom:103px;left:-30px;display:none}.fenqi_tips_hover
.tit{border-bottom:1px dotted #FFDBB2;color:#F80;font:bold 12px "microsoft yahei";margin-bottom:5px;padding-bottom:5px}#summaryInfo{overflow:visible;position:relative}.fenqi_tips_hover
.z{bottom:-10px;z-index:3;color:#FFFCE5}.fenqi_tips_hover
.y{bottom:-11px;color:#FFDD67;z-index:1}.fenqi_tips_hover .y,.fenqi_tips_hover
.z{position:absolute;font-size:12px;left:140px}#summaryInfo .fenqi_tips_hover
p{margin-top:0;line-height:22px}.fenqi_tips_hover a,.orange{color:#fb6900;text-decoration:none}.topLine{margin-top:5px;padding-bottom:5px;height:100%;margin-bottom:5px}#summaryInfo
.fenqi_tips{color:#75b73b;font-weight:bold}#summaryInfo .fenqi_tips
i{text-decoration:underline;font-style:normal}.new_ico{background-position:0 -67px;width:30px;height:13px;display:inline-block;*display:inline}.clearfix{clear:both}.fenqiAbout_hover{}.fenqiAbout_hover table,
.fenqi_tips_hover
table{margin-top:10px}.fenqiAbout_hover table thead,
.fenqi_tips_hover table
thead{background:#ffefda}.fenqiAbout_hover table td,
.fenqi_tips_hover table
td{width:69px;height:29px;text-align:center;border:1px
solid #ffefda}